 body {
   margin: 0;
   font-family: Arial, sans-serif;
   background: #f5f6fa;
 }

 .main {
   /* margin-left: 220px; */
   padding: 30px;
   min-height: 100vh;
 }

 h2 {
   margin-bottom: 15px;
 }

 /* Form container */
 .form-container {
   background: #ffffff;
   padding: 25px;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   width: 100%;
 }

 form {
   display: flex;
   flex-direction: column;
   min-height: 450px;
 }

 .form-group {
   margin-bottom: 15px;
 }

 label {
   font-weight: 600;
   margin-bottom: 6px;
   display: block;
 }

 input,
 select,
 textarea {
   width: 100%;
   padding: 10px;
   border-radius: 6px;
   border: 1px solid #ccc;
 }

 .btn-save {
   width: 100%;
   margin-top: auto;
   align-self: flex-end;
   background: #27ae60;
   color: white;
   padding: 12px 22px;
   border: none;
   border-radius: 6px;
   cursor: pointer;
 }

 /* Table */
 .table-container {
   margin-top: 30px;
   background: #ffffff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }

 table {
   width: 100%;
   border-collapse: collapse;
 }

 th,
 td {
   padding: 12px;
   border-bottom: 1px solid #ddd;
   text-align: left;
 }

 th {
   background: #f2f2f2;
 }

 .btn-edit {
   background: #2980b9;
   color: white;
   border: none;
   padding: 6px 12px;
   border-radius: 5px;
 }

 .btn-delete {
   background: #c0392b;
   color: white;
   border: none;
   padding: 6px 12px;
   border-radius: 5px;
 }

 body {
   margin: 0;
   font-family: Arial, sans-serif;
   background: #f5f6fa;
 }

 .main {
   /* margin-left: 220px; */
   padding: 30px;
   min-height: 100vh;
 }

 h2 {
   margin-bottom: 15px;
 }

 /* Form container */
 .form-container {
   background: #ffffff;
   padding: 25px;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   width: 100%;
 }

 form {
   display: flex;
   flex-direction: column;
   min-height: 450px;
 }

 .form-group {
   margin-bottom: 15px;
 }

 label {
   font-weight: 600;
   margin-bottom: 6px;
   display: block;
 }

 input,
 select,
 textarea {
   width: 100%;
   padding: 10px;
   border-radius: 6px;
   border: 1px solid #ccc;
 }

 .btn-save {
   width: 100%;
   margin-top: auto;
   align-self: flex-end;
   background: #27ae60;
   color: white;
   padding: 12px 22px;
   border: none;
   border-radius: 6px;
   cursor: pointer;
 }

 /* Table */
 .table-container {
   margin-top: 30px;
   background: #ffffff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }

 table {
   width: 100%;
   border-collapse: collapse;
 }

 th,
 td {
   padding: 12px;
   border-bottom: 1px solid #ddd;
   text-align: left;
 }

 th {
   background: #f2f2f2;
 }

 .btn-edit {
   background: #2980b9;
   color: white;
   border: none;
   padding: 6px 12px;
   border-radius: 5px;
 }

 .btn-delete {
   background: #c0392b;
   color: white;
   border: none;
   padding: 6px 12px;
   border-radius: 5px;
 }